<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head",{titlePage:'aboutUs'})   %>
        <link rel="stylesheet" href="css/aboutUs.css">
</head>
<body>
    <header>
        <%- include('partials/header')  %> 
</header>
    <section>
        <h1>Nosotros</h1>
        <div class="seccion-cuerpo"><img src="imagenes/electronica1.jpg" alt="imagene">
        <div  class="detalle-nosotros">
            <div>
                    <div >
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Inventore earum vel architecto sunt maxime nemo laborum magni distinctio aperiam voluptate! 
                                Velit fugit reiciendis ut magnam est fuga voluptatum pariatur distinctio.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Inventore earum vel architecto sunt maxime nemo laborum magni distinctio aperiam voluptate! 
                                Velit fugit reiciendis ut magnam est fuga voluptatum pariatur distinctio.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Inventore earum vel architecto sunt maxime nemo laborum magni distinctio aperiam voluptate! 
                                Velit fugit reiciendis ut magnam est fuga voluptatum pariatur distinctio.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Inventore earum vel architecto sunt maxime nemo laborum magni distinctio aperiam voluptate! 
                                Velit fugit reiciendis ut magnam est fuga voluptatum pariatur distinctio.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<footer>
    <%- include('partials/footer')  %> 
</footer>

    
</body>
</html>