<!DOCTYPE html>
<html lang="en">
    <head>
<%- include("partials/head",{titlePage:'aboutUs'})   %>
</head>
<body>
    <header>
        <%- include('partials/header')  %> 
</header>
    <section>
        <div><img src="" alt="imagene">
            <div>
                <div>
                    <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Inventore earum vel architecto sunt maxime nemo laborum magni distinctio aperiam voluptate! 
                                Velit fugit reiciendis ut magnam est fuga voluptatum pariatur distinctio.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<footer>
    <%- include('partials/footer')  %> 
</footer>

    
</body>
</html>