<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../styles/cart.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>
<body>

    <header class="cabecera">
        <nav class="cabecera-principal">
            <div><img class="logo" src="C:\Users\Usuario\Documents\E-commerce1\logo\a11a4dca363844de948137bb41383a8a.png" alt="Logo de la empresa"></div>
            <ul class="links">
                
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Login</a></li>
            </ul>
            <div><button type="button">Carrito</button></div>
            <div  class="contenedor-btn-menu"><a class="btn-menu" href=""><span class="icon-menu"><img src="../../imagenes/lines_menu_burger_icon_123889.png"></span></a></div>
        </nav>
        
    </header>
    <H1>Carrito</H1>
        <section class="cuerpo">
            <div class="cuerpo-carrito">
                <div class="titulos-cabecera-cuerpo">
                <h2 class="producto-pc-info tipo-de-producto">PRODUCTOS</h2>
                <h2 class="producto-pc-info cantidad-de-producto">CANTIDAD</h2>
                <h2 class="producto-pc-info precio-del-producto">PRECIO</h2>
                </div>
                <div class="producto" id="01">
                    
                    <img src="../../imagenes/electronica3.jpg" alt="Imagen del producto">
                    <div class="producto-info">
                        <div class="producto-info-1">
                            
                            <h4>Detalles del Producto</h4><br>
                            <img src="../../imagenes/trash-can_38501.png">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, ad architecto! Iusto commodi, 
                                dolorum incidunt esse adipisci, possimus illum nisi facilis, facere quod excepturi fuga assumenda. 
                                Facilis asperiores quisquam voluptatum. </p>
                        </div>
                        <div class="producto-info-2">
                            
                            <div><img src="../../imagenes/positive_add_plus_new_icon_208891.png"></div><br>
                            <input type="text" name="price1" id="price1"><br>
                            <div><img src="../../imagenes/negative_minimize_minus_icon_208837.png"></div>
                            <input class="price3" type="text" name="price3" id="price3">
                        </div>
                        <h5 class="precio">$PRECIO</h5>
                    </div>
                </div>
                <div class="producto" id="02">
                    <img src="../../imagenes/producto1.jpg" alt="Imagen del producto">
                    <div class="producto-info">
                        <div class="producto-info-1">
                            <h4>Detalles del Producto</h4><br>
                            <img src="../../imagenes/trash-can_38501.png">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, ad architecto! Iusto commodi, 
                                dolorum incidunt esse adipisci, possimus illum nisi facilis, facere quod excepturi fuga assumenda. 
                                Facilis asperiores quisquam voluptatum. </p>
                        </div>
                        <div class="producto-info-2">
                            <div><img src="../../imagenes/positive_add_plus_new_icon_208891.png"></div><br>
                            <input type="text" name="price2" id="price2"><br>
                            <div><img src="../../imagenes/negative_minimize_minus_icon_208837.png"></div>
                            <input class="price3" type="text" name="price3" id="price3">
                        </div>
                        <h5 class="precio">$PRECIO</h5>
                    </div>
                </div>
                <div class="producto" id="03">
                    <img src="../../imagenes/electronica1.jpg" alt="Imagen del producto">
                    <div class="producto-info">
                        <div class="producto-info-1">
                            <h4>Detalles del Producto</h4><br>
                            <img src="../../imagenes/trash-can_38501.png">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, ad architecto! Iusto commodi, 
                                dolorum incidunt esse adipisci, possimus illum nisi facilis, facere quod excepturi fuga assumenda. 
                                Facilis asperiores quisquam voluptatum. </p>
                        </div>
                        <div class="producto-info-2">
                            <div><img src="../../imagenes/positive_add_plus_new_icon_208891.png"></div><br>
                            <input type="text" name="price3" id="price3"><br>
                            <div><img src="../../imagenes/negative_minimize_minus_icon_208837.png"></div>
                            <input class="price3" type="text" name="price3" id="price3">
                        </div>
                        <h5 class="precio">$PRECIO</h5>
                    </div>
                </div>
                <h3 class="total">Total</h3><br>
                <input class="total-price" type="text" name="total-price" id="total-price"><br><br>
                <button type="button">Pagar</button>
            </div>
            
            
        </section>








    <footer class="pieDePagina">
        <div class="pieDePagina-conteiner">
            <div class="orden-img-preguntas">
                <div clas="img"><img src="C:\Users\Usuario\Documents\E-commerce1\logo\a11a4dca363844de948137bb41383a8a.png" alt="Logo de la empresa"></div>
                <div class="div-preguntas-footer">
                    <h4 class="preguntas-frecuentes-footer">¿Preguntas Frecuentes?</h4>
                    <h5 class="preguntas-frecuentes-footer-text">La solucion a tus problemas</h5>
                </div>
        </div>
            
            <ul class="links-pieDePagina">
                <li><a href="">Ayuda</a></li>
                <li><a href="">Nosotros</a></li>   
            </ul>
            <ul class="Redes">
                <li><a href=""><span><img src="../../imagenes/twitter-3_icon-icons.com_50735.png"></span></a></li> 
                <li><a href=""><span><img src="../../imagenes/instagram_logo_icon_173753.png"></span></a></li> 
                <li><a href=""><span><img src="../../imagenes/facebook_icon_153518.png"></span></a></li>                     
            </ul>
            <br>
        </div>
        <br>
        <div class="tittle5">
            <h5>Copy right 2022</h5>
            <h5><a href="">Terminos y Condiciones</a></h5>
        </div>
    </footer>


    
</body>
</html>