<!DOCTYPE html>
<html lang="en">
<!-- incluimos el head y ademas le pasamos un parametro a tittlePage para que nos renderise el nombre de la pagina-->
<head>
<%- include("partials/head",{titlePage:'detail-Product'})   %>
</head>

<body>
    
    <header>
        <%- include('partials/header')  %> 
</header>

        <section>
        <h1>Detalles Del Producto</h1>
        <div class="seccion-cuerpo">
            <div class="img"><img src="C:\Users\Usuario\Documents\E-commerce1\imagenes\producto1.jpg" alt="Imagen del producto">
            </div>
            <div class="detalle-de-producto">
                <div class="detalle-de-compra">
                    <h5>Nombre del producto</h5>
                    <h6>$$$$</h6>
                </div>
                <br>
                <div class="texto"><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum eius doloribus iste architecto harum quod debitis quaerat, 
                    eveniet consequatur laborum libero iure inventore sapiente ad reiciendis, nemo officia, provident suscipit?
                </span></div>
                <br>
                <div class="btn">
                    <button type="submit"><img src="../../imagenes/shopping-cart_icon-icons.com_72552.png"></button>
                    <button type="submit">Tienda</button>
                </div>
            </div>
        </div>
        </section>
        <footer>
            <%- include('partials/footer')  %> 
        </footer>


</body>
</html>