<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail-Products</title>
</head>
<body>
    
    <header class="cabecera">
        <div>
            <div><img src="" alt="Logo de la empresa"></div>
            <ul class="links">
                <li>Inicio</li>
                <li>Nosotros</li>
                <li>Tienda</li>
                <li>Login</li>
            </ul>
            <div><button type="submit">Carrito</button></div>
        </div>
        
    </header>
    <section>
    <h1>Detalles Del Producto</h1>
    <div class="secction-cuerpo">
        <div><img src="" alt="Imagen del producto">
        </div>
        <div>
            <div>
                <h5>Nombre del producto</h5>
                <h6>$$$$</h6>
            </div>
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum eius doloribus iste architecto harum quod debitis quaerat, 
                eveniet consequatur laborum libero iure inventore sapiente ad reiciendis, nemo officia, provident suscipit?
            </span>
            <br>
            <div>
                <button type="submit">Logo</button>
                <button type="submit">Tienda</button>
            </div>
        </div>
    </div>
    </section>
    <footer class="pieDePajina">
        <div>
            <div><img src="" alt="Logo de la empresa"></div>
            <ul class="links">
                <li>Ayuda</li>
                <li>Nosotros</li>    
            </ul>
            <div><h5>Copy right 2022</h5></div>
            <ul>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Facebook</li>
            </ul>
        </div>
    </footer>
</body>
</html>