<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail-Products</title>
    <link rel="stylesheet" href="/logo/fonts.css">
    <link rel="stylesheet" href="../styles/detail-Product.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">

</head>
<body>
    
    <header class="cabecera">
        <nav class="cabecera-principal">
            <div><img class="logo" src="C:\Users\Usuario\Documents\E-commerce1\logo\a11a4dca363844de948137bb41383a8a.png" alt="Logo de la empresa"></div>
            <ul class="links">
                
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Login</a></li>
            </ul>
            <div><button type="button">Carrito</button></div>
            <div  class="contenedor-btn-menu"><a class="btn-menu" href=""><span class="icon-menu"><img src="../../imagenes/lines_menu_burger_icon_123889.png"></span></a></div>
        </nav>
        
    </header>

        <section>
        <h1>Detalles Del Producto</h1>
        <div class="seccion-cuerpo">
            <div class="img"><img src="C:\Users\Usuario\Documents\E-commerce1\imagenes\producto1.jpg" alt="Imagen del producto">
            </div>
            <div class="detalle-de-producto">
                <div class="detalle-de-compra">
                    <h5>Nombre del producto</h5>
                    <h6>$$$$</h6>
                </div>
                <br>
                <div class="texto"><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum eius doloribus iste architecto harum quod debitis quaerat, 
                    eveniet consequatur laborum libero iure inventore sapiente ad reiciendis, nemo officia, provident suscipit?
                </span></div>
                <br>
                <div class="btn">
                    <button type="submit"><img src="../../imagenes/shopping-cart_icon-icons.com_72552.png"></button>
                    <button type="submit">Tienda</button>
                </div>
            </div>
        </div>
        </section>
        <footer class="pieDePagina">
            <div class="pieDePagina-conteiner">
                <div class="orden-img-preguntas">
                    <div clas="img"><img src="C:\Users\Usuario\Documents\E-commerce1\logo\a11a4dca363844de948137bb41383a8a.png" alt="Logo de la empresa"></div>
                    <div class="div-preguntas-footer">
                        <h4 class="preguntas-frecuentes-footer">¿Preguntas Frecuentes?</h4>
                        <h5 class="preguntas-frecuentes-footer-text">La solucion a tus problemas</h5>
                    </div>
            </div>
                
                <ul class="links-pieDePagina">
                    <li><a href="">Ayuda</a></li>
                    <li><a href="">Nosotros</a></li>   
                </ul>
                <ul class="Redes">
                    <li><a href=""><span><img src="../../imagenes/twitter-3_icon-icons.com_50735.png"></span></a></li> 
                    <li><a href=""><span><img src="../../imagenes/instagram_logo_icon_173753.png"></span></a></li> 
                    <li><a href=""><span><img src="../../imagenes/facebook_icon_153518.png"></span></a></li>                     
                </ul>
                <br>
            </div>
            <br>
            <div class="tittle5">
                <h5>Copy right 2022</h5>
                <h5><a href="">Terminos y Condiciones</a></h5>
            </div>
        </footer>


</body>
</html>