<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail-Products</title>
    <link rel="stylesheet" href="/logo/fonts.css">
    <link rel="stylesheet" href="../styles/detail-Product.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">

</head>
<body>
    
        <header class="cabecera">
            <nav class="cabecera-principal">
                <div><img src="C:\Users\Usuario\Documents\E-commerce1\logo\a11a4dca363844de948137bb41383a8a.png" alt="Logo de la empresa"></div>
                <ul class="links">
                    
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Tienda</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
                <div><button type="submit">Carrito</button></div>
                <div  class="contenedor-btn-menu"><a class="btn-menu" href="#"><span class="icon-menu"></span>MENU</a></div>
            </nav>
            
        </header>

        <section>
        <h1>Detalles Del Producto</h1>
        <div class="secction-cuerpo">
            <div><img src="" alt="Imagen del producto">
            </div>
            <div>
                <div>
                    <h5>Nombre del producto</h5>
                    <h6>$$$$</h6>
                </div>
                <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum eius doloribus iste architecto harum quod debitis quaerat, 
                    eveniet consequatur laborum libero iure inventore sapiente ad reiciendis, nemo officia, provident suscipit?
                </span>
                <br>
                <div>
                    <button type="submit">Logo</button>
                    <button type="submit">Tienda</button>
                </div>
            </div>
        </div>
        </section>
    <footer class="pieDePagina">
        <div class="pieDePagina-conteiner">
            <div><img src="C:\Users\Usuario\Documents\E-commerce1\logo\a11a4dca363844de948137bb41383a8a.png" alt="Logo de la empresa"></div>
            <ul class="links-pieDePagina">
                <li><a href="">Ayuda</a></li>
                <li><a href="">Nosotros</a></li>   
            </ul>
            <ul class="Redes">
                <li><a href="">Twitter</a></li> 
                <li><a href="">Instagram</a></li> 
                <li><a href="">Facebook</a></li>                     
            <br>
        </div>
        <br>
        <div class="tittle5">
            <h5>Copy right 2022</h5>
            <h5><a href="">Terminos y Condiciones</a></h5>
        </div>
    </footer>

</body>
</html>