<!DOCTYPE html>
<html lang="en">
<!-- incluimos el head y ademas le pasamos un parametro a tittlePage para que nos renderise el nombre de la pagina-->
<head>
        <%- include("partials/head",{titlePage:'detail-Product'})   %>
        <link rel="stylesheet" href="css/details-product.css">
</head>

<body>
    
    <header>
        <%- include('partials/header')  %> 
</header>

        <section>
        <h1>Detalles Del Producto</h1>
        <div class="seccion-cuerpo-detailsProduct">
                
        </div>
        </section>
        <footer>
            <%- include('partials/footer')  %> 
        </footer>


</body>
</html>