<!DOCTYPE html>
<html lang="en">
<!-- incluimos el head y ademas le pasamos un parametro a tittlePage para que nos renderise el nombre de la pagina-->
<head>
    <%- include("partials/head",{titlePage:'home'})   %>
    <link rel="stylesheet" href="css/home.css">
    
</head>

<body>
    
        <header>
                <%- include('partials/header')  %> 
        </header>
      
        <section class="banner">
            <div class="cuerpo-banner">
                <h1>Bienvenido</h1>
                <p>Al sitio donde encontraras las soluciones a tus problemas</p>
                <div class="botones"><br>
                    <a href="/tienda"><button type="button">Tienda</button></a>
                    <a href="/aboutUs"><button type="button">Nosotros</button></a>
                </div>
            </div>

        </section>
        <section class="cuerpo">
            <h2 class="tittle-products">Productos</h2>
            <div class="cuerpo-seccion-productos">
                <div class="cuerpo-seccion-producto producto1">
                    <div class="div-productos"><h3>Servicios estructurales</h3></div>
                    <div class="div-btn">
                        <a href="/cart"><button type="button">Carrito</button></a>
                        <a href="/tienda"><button type="button">Tienda</button></a>
                    </div>
                </div>
                <div class="cuerpo-seccion-producto producto2">
                    <div class="div-productos"><h3>Soporte tecnico</h3></div>
                    <div class="div-btn">
                        <a href="/cart"><button type="button">Carrito</button></a>
                        <a href="/tienda"><button type="button">Tienda</button></a>
                    </div>
                </div>
                <div class="cuerpo-seccion-producto producto3">
                    <div class="div-productos"><h3>Software</h3></div>
                    <div class="div-btn">
                        <a href="/cart"><button type="button">Carrito</button></a>
                        <a href="/tienda"><button type="button">Tienda</button></a>
                    </div>
                </div>
                </div>
            <h2 class="preguntas-frecuentes">¿Preguntas Frecuentes?</h2>
            <div class="cuerpo-seccion-preguntas">
                <div class="cuerpo-seccion-pregunta pregunta1">
                    <div> <img src="imagenes/lockicon_120641.png" alt="Imagen de producto"></div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Molestias vitae voluptatum cum sed enim esse perspiciatis aliquid consequuntur assumenda minus nisi provident,
                        ipsa ex dolorum labore commodi expedita incidunt iusto.</p>
                </div>
                <div class="cuerpo-seccion-pregunta pregunta2">
                    <div> <img src="imagenes/business_card_credit_credit_card_dollar_money_payment_icon_123246.png" alt="Imagen de producto"></div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Molestias vitae voluptatum cum sed enim esse perspiciatis aliquid consequuntur assumenda minus nisi provident,
                        ipsa ex dolorum labore commodi expedita incidunt iusto.</p>
                </div>
                <div class="cuerpo-seccion-pregunta pregunta3">
                    <div> <img src="imagenes/phone-volume_icon-icons.com_56474.png" alt="Imagen de producto"></div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Molestias vitae voluptatum cum sed enim esse perspiciatis aliquid consequuntur assumenda minus nisi provident,
                        ipsa ex dolorum labore commodi expedita incidunt iusto.</p>
                </div>
            </div>
             
        </section>
        <section class="nosotros">
            
            <div >
                <h3>¿Quienes Somos?</h3>
                
                <h5>Somos una empresa que te trae la soluciones a tus problemas estructurales</h5>
            </div>
        </section>
        <footer>
            <%- include('partials/footer')  %> 
        </footer>

    
</body>
</html>