<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>
<body>

        <header class="cabecera">
            <div class="cabecera-principal">
                <div><img src="" alt="Logo de la empresa"></div>
                <ul class="links">
                    <li>Inicio</li>
                    <li>Nosotros</li>
                    <li>Tienda</li>
                    <li>Login</li>
                </ul>
                <div><button type="submit">Carrito</button></div>
            </div>
            
        </header>
        <section class="cuerpo">
            <div class="cuerpo-banner">
                <h1>Bienvenido</h1>
                <p>Al sitio donde encontraras las soluciones a tus problemas</p>
                <div class="botones"><br>
                    <button type="submit">Tienda</button>
                    <button type="submit">Nosotros</button>
                </div>
            </div>
            <h2>Productos</h2>
            <div class="cuerpo-seccion-productos">
                <div class="cuerpo-seccion.productos1">
                    <div><h3>Servicios estructurales</h3></div>
                    <div>
                        <button type="submit"></button>
                        <button type="submit">Tienda</button>
                    </div>
                </div>
                <div class="cuerpo-seccion.productos2">
                    <div><h3>Soporte tecnico</h3></div>
                    <div>
                        <button type="submit"></button>
                        <button type="submit">Tienda</button>
                    </div>
                </div>
                <div class="cuerpo-seccion.productos3">
                    <div><h3>Software</h3></div>
                    <div>
                        <button type="submit"></button>
                        <button type="submit">Tienda</button>
                    </div>
                </div>
            <h2>Preguntas Frecuentes</h2>
            <div class="cuerpo-seccion-preguntas">
                <div class="cuerpo-seccion.pregunta1">
                    <div></div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Molestias vitae voluptatum cum sed enim esse perspiciatis aliquid consequuntur assumenda minus nisi provident,
                        ipsa ex dolorum labore commodi expedita incidunt iusto.</p>
                </div>
                <div class="cuerpo-seccion.pregunta2">
                    <div></div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Molestias vitae voluptatum cum sed enim esse perspiciatis aliquid consequuntur assumenda minus nisi provident,
                        ipsa ex dolorum labore commodi expedita incidunt iusto.</p>
                </div>
                <div class="cuerpo-seccion.pregunta3">
                    <div></div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Molestias vitae voluptatum cum sed enim esse perspiciatis aliquid consequuntur assumenda minus nisi provident,
                        ipsa ex dolorum labore commodi expedita incidunt iusto.</p>
                </div>
                
             
        </section>
        <section class="nosotros">
            
            <div>
                <h3>¿Quienes Somos?</h3>
                <h5>Somos una empresa que te trae la soluciones a tus problemas estructurales</h5>
            </div>

        </section>
        <footer class="pieDePajina">
            <div>
                <div><img src="" alt="Logo de la empresa"></div>
                <ul class="links">
                    <li>Ayuda</li>
                    <li>Nosotros</li>    
                </ul>
                <div><h5>Copy right 2022</h5></div>
                <ul>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Facebook</li>
                </ul>
            </div>
        </footer>

    
</body>
</html>