<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
</head>
<body style="width: 100%;">
    <div style="display:flexbox; background-color:lightgrey">
        <h1 style="text-align: center; font-size: 70px; padding: 3rem;" >Error 404</h1>
        <h2 style="text-align: center; font-size: 45px; padding-bottom: 5rem;">Page not Found</h2>
    </div>
</body>
</html>