<!DOCTYPE html>
<html lang="en">
<!-- incluimos el head y ademas le pasamos un parametro a tittlePage para que nos renderise el nombre de la pagina-->
<head>
        <%- include("partials/head",{titlePage:'register'})   %>
        <link rel="stylesheet" href="css/register.css">
</head>


<body>
    <header>
        <%- include('partials/header')  %> 
</header>
    <h1>Registrarse</h1>
    <div class="cuerpo">
        <div class="registro">
            <form action="" >
                <div class="registro-input">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name"><br>
                    <label for="surname">Apellido</label>
                    <input type="text" name="surname" id="surname"><br>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email"><br>
                    <label for="date">Fecha de Nacimiento</label>
                    <input type="date" name="date" id="date"><br>
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password"><br>
                </div>
                <button type="submit">Ingresar</button>
            </form>
        </div>
    </div>
    


    <footer>
        <%- include('partials/footer')  %> 
    </footer>


</body>
</html>