@import url(https://fonts.google.com/specimen/Frank+Ruhl+Libre);
body{
    margin: 0px;
    padding: 0px;

    
}
@media(max-width:700px){
     section h1{
        margin-top: 80px;
        margin-bottom: 30px;      
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
    }
    section .seccion-cuerpo-detailsProduct{
        width: 350;
        height: 400px;
        margin-top: 100px;
        margin-bottom:100px ;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    section .detalle-de-producto{
        display: flex;
        width: 350px;
        flex-direction: column;
        align-items: center;
        
    }
    section .detalle-de-producto h5{
    display: none;
    }
    section .detalle-de-producto h6{
    display: none;
    }
    section .detalle-de-producto .texto{
        text-align: center;
        font-size: 16px;
        margin-bottom: 33px;
        margin-left: 20px;
        margin-right: 20px;
    }
    section .detalle-de-producto .btn{
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    section .detalle-de-producto .btn button{
        font-size: 20px;
        font-family: inherit;
        text-transform:uppercase;
        font-weight: 600;
        background: rgba(12, 76, 242, 0.8);
        border-radius: 9px;
        padding-left: 20px;
        padding-right: 20px;
        height: 50px;
        width: 130px;
        margin-left: 10px;
        margin-right: 10;
        top: 0px;
        border-radius: 15px;
        
        
    }
    section .detalle-de-producto .btn button img{
        width: 30px;
        height: 33px;
        margin-top: 4px;
    }
    section .detalle-de-producto .btn button:hover{
        background-color: transparent;
        color: rgba(12, 76, 242, 0.8);
        transition: 0.6s;
    }

}
@media(min-width:750px){
    section{
        width: 95%;
        height: 600px;
        overflow: hidden;
        margin-left: 3.5em;
        margin-right: 3em;
    }
    section h1{
        margin-top: 70px;
        margin-bottom: 60px;      
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
    }
    section .seccion-cuerpo-detailsProduct{
        width: 90%;
        margin-top: 100px;
        margin-bottom: 10px;
        margin-left:3rem ;
        margin-right:2rem ;
        display: flex;
        flex-direction:row;
        align-items:center;
        justify-content: space-evenly; 
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 5px rgb(177, 177, 177);
    }
    section .seccion-cuerpo-detailsProduct img{ 

        border-radius: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
    }
    section .detalle-de-producto{
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items:center;
        
    }
    section .detalle-de-compra{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
    }
    section .detalle-de-compra h5{
        width: 100%;
        font-size: 20px;
        text-transform: uppercase;
        font-family: inherit;
    }
    section .detalle-de-compra h6{
        width: 100%;
        font-size: 18px;
        margin-left: 10px;
        margin-top: 5px;
    }
    section .detalle-de-producto .texto{
        width: 80%;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 33px;
        margin-left: 20px;
        margin-right: 20px;
    }
    section .detalle-de-producto .btn{
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    section .detalle-de-producto .btn button{
        font-size: 18px;
        font-family: inherit;
        text-transform:uppercase;
        font-weight: 600;
        background: rgba(12, 76, 242, 0.8);
        border-radius: 9px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        height: 40px;
        width: 120px;
        margin-left: 10px;
        margin-right: 10px;
        top: 0px;
        border-radius: 15px;


    }
    
    section .detalle-de-producto .btn button:hover{
        background-color: transparent;
        color: rgba(12, 76, 242, 0.8);
        transition: 0.6s;
    }

}
