@import url(https://fonts.google.com/specimen/Frank+Ruhl+Libre);

body{
    margin: 0px;
    padding: 0px;

    
}

@media(max-width:700px){
    h1{
        margin-top: 80px;
        text-align: center;
        font-size: 35px;
        font-family: inherit;
        font-weight: 500;
        text-transform: uppercase;
    }
    .cuerpo{
        max-width: 360px;
        margin-top:55px;
        margin-bottom: 87px;;
        margin-left:35px;
        margin-right: 35px;
        background: #0CB7F2 ;
        border: 1px solid #000000;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }
    .cuerpo .registro{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px 0px;
    }
    .cuerpo form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: inherit;        
    }
    

    .cuerpo .registro .registro-input{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }

        label{
            font-size:14px;
            text-transform: uppercase;
            font-weight: 600;
            font-family: inherit;
        }

        input[type="date"] {
            width: 172px;
            border-radius: none ;
        }



    .cuerpo button{
        cursor: pointer;
        background-color: white;
        color:black;
        border-radius: 12px;
        width: 100px;
        height: 33px;
        font-family: inherit;
        font-size:14px;
        font-weight: 500;
        text-transform: uppercase;

    }
    .cuerpo button:hover{
        background-color:transparent;
        color:black;
        transition: 0.6S;


    }
}
@media(min-width:701px){
    h1{
        margin-top: 55px;
        text-align: center;
        font-size: 45px;
        font-family: inherit;
        font-weight: 500;
        text-transform: uppercase;
    }
    .cuerpo{
        max-width: 600px;
        margin-top:100px;
        margin-bottom: 200px;;
        margin-left:32%;
        margin-right: 32%;
        background: #0CB7F2 ;
        border: 1px solid #000000;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }
    .cuerpo .registro{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 130px 15px;
    }
    .cuerpo form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: inherit;         
    }
    

    .cuerpo .registro .registro-input{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    label{
        font-size:25px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: inherit;
        margin-bottom: 15px;
    }
    input{
        width: 100%;
        height: 20px;
    }

        
        

        label[for="date"] {
            text-align: center;
            font-size: 24px;
            width: 100%;
        }



    .cuerpo button{
        margin-top: 20px;
        cursor: pointer;
        background-color: white;
        color:black;
        border-radius: 18px;
        width: 130px;
        height: 38px;
        font-family: inherit;
        font-size:20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .cuerpo button:hover{
        background-color:transparent;
        color:black;
        transition: 0.6S;


    }
}



