
    <footer class="pieDePagina">
        <div class="pieDePagina-conteiner">
                <div class="orden-img-preguntas">
                <div clas="img"><img src="logo\a11a4dca363844de948137bb41383a8a.png" alt="Logo de la empresa"></div>
                <div class="div-preguntas-footer">
                        <h4 class="preguntas-frecuentes-footer">¿Preguntas Frecuentes?</h4>
                        <h5 class="preguntas-frecuentes-footer-text">La solucion a tus problemas</h5>
                </div>
                </div>
                
                <ul class="links-pieDePagina">
                    <li><a href="">Ayuda</a></li>
                    <li><a href="">Nosotros</a></li>   
                </ul>
                <ul class="Redes">
                    <li><a href=""><span><img src="imagenes/twitter-3_icon-icons.com_50735.png"></span></a></li> 
                    <li><a href=""><span><img src="imagenes/instagram_logo_icon_173753.png"></span></a></li> 
                    <li><a href=""><span><img src="imagenes/facebook_icon_153518.png"></span></a></li>                     
                </ul>
                <br>
        </div>
            <br>
        <div class="tittle5">
            <h5>Copy right 2022</h5>
            <h5><a href="">Terminos y Condiciones</a></h5>
        </div>
    </footer>

