<!--  Este es el arvhivo ejs de la cabecera-->
 <header class="cabecera">
    <nav class="cabecera-principal">
        <div><img class="logo" src="logo/a11a4dca363844de948137bb41383a8a.png" alt="Logo de la empresa"></div>
        <ul class="links">
            
            <li><a href="/">Inicio</a></li>
            <li><a href="/aboutUs">Nosotros</a></li>
            <li><a href="/shop">Tienda</a></li>
            <li><a href="/login">Login</a></li>
            <!-- cuando pase a produccion este link debe ser la url del panel de control de angular --> 
            <li><a href="https://hugomproject.github.io/Proyecto1-angular/"><abbr style="text-decoration: none;" title="Ir al Panel De Administrador?">Panel</abbr></a></li>
        </ul>
        <div><a href="/cart"><button type="button">Carrito</button></a></div>
        <div  class="contenedor-btn-menu"><a class="btn-menu"><span class="icon-menu"><img src="/imagenes/lines_menu_burger_icon_123889.png"></span></a></div>
    </nav>
        <div class="menu-btn-plegable menu-off">
            <ul class="links-menu-plegable">
            
                <li><a href="/">Inicio</a></li>
                <li><a href="/aboutUs">Nosotros</a></li>
                <li><a href="/shop">Tienda</a></li>
                <li><a href="/login">Login</a></li>
                <!-- cuando pase a produccion este link debe ser la url del panel de control de angular --> 
                <li><a href="https://hugomproject.github.io/Proyecto1-angular/"><abbr style="text-decoration: none;" title="Panel De Administrador">Panel</abbr></a></li>
            </ul>
        </div>
        <script>
            let BTn = document.querySelector('.icon-menu')
            BTn.addEventListener('click',showMenu)
        // funcion para activar y desactivar el menu
            function showMenu(e){
                let divMenu = document.querySelector('.menu-btn-plegable')
                if(divMenu.classList.contains('menu-off')){
                    divMenu.classList.remove('menu-off')
                }else{
                    divMenu.classList.add('menu-off')
                }
                
            }
        </script>
</header>


